body{
    font-size: 13px;
    background-color: #fff;
    font-family: Roboto;
    position: relative; 
    z-index: 100;
    font-weight: 400;
    font-family: Roboto;
}
.company .header {
    background-color: #fff;
    padding: 17px 0;
    border-bottom: 1px solid #e1e1e1;
}
.company .header .logo-top {
    margin-right: 40px;
}
.company .header .navbar li {
    padding: 5px 10px;
}
.company .header .navbar li a {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #303030;
    padding: 5px 0;
    border-bottom: 2px solid #fff;
}
.company .header .navbar li:hover a,
.company .header .navbar li.active a{
    color: #0ba25e;
    border-bottom: 2px solid #0ba25e;
}
.company .header .navbar li .register-news {
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    background-color: #0ba25e;
    color: #fff;
    font-weight: 700;
    float: left;
}
.company .header .navbar li:hover .register-news {
    text-decoration: none;
    border: 0;
    color: #fff;
    background-color: #029756;
}
.company .header .profile-item {
    
}
.company .header .navbar li.mail-item  {
    padding-right: 0;
}
.company .header .navbar li.mail-item:hover a  {
    text-decoration: none;
    border-bottom: 0;
}
.company .header .navbar li.mail-item a:hover i  {
    color: #0ba25e;
}
.company .header .mail-item i {
    font-size: 22px;
    color: #b5b5b5;
    margin-top: 8px;
    padding: 0px 10px 2px 0;
    border-right: 1px solid #ddd;
}
.company .header .profile-item {
    position: relative;
    padding-left: 45px;
    padding-right: 20px;
    min-height: 40px;
    cursor: pointer;
}
.company .header .profile-item .fa-user-circle {
    font-size: 40px;
    color: #0ba25e;
    position: absolute;
    top: 0;
    left: 0;
}
.company .header .profile-item .name {
    display: block;
    font-size: 16px;
    color: #0ba25e;
    font-weight: 700;
    line-height: 18px;
    white-space: nowrap;
}
.company .header .profile-item .code {
    display: block;
    font-size: 14px;
    color: #303030;
    font-weight: 400;
    white-space: nowrap;
}
.company .header .profile-item .fa-caret-down {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    color: #0ba25e;
}
.company .header .navbar li .dropdown-menu {
    padding: 10px;
}
.company .header .navbar li .dropdown-menu .dropdown-item {
    background: none;
    border: none;
    text-decoration: none;
    color: #303030;
    font-size: 14px;
}
.company .header .navbar li:hover .dropdown-menu .dropdown-item {
    background: none;
    border: none;
    text-decoration: none;
}
.company .header .navbar li .dropdown-menu .dropdown-item:hover {
    color: #0ba25e;
}
.company .header .navbar li .dropdown-menu .dropdown-item i {
    color: #b5b5b5;
    margin-right: 5px;
}
.company .header .navbar li .dropdown-menu .dropdown-item:hover i {
    color: #0ba25e;
}
.company .main-top {
    background: url(../img/bg_main_top.png) repeat top left;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
}
.main-top .title-home {
    padding-top: 135px;
    text-align: center;
    width: 100%;
}
.main-top .title-home h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}
.main-top .title-home p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 35px;
}
.main-top .register-news {
    padding: 16px 35px;
    border-radius: 37px;
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #0ba25e;
    font-size: 28px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 155px;
}
.main-top .search-home {
    position: relative;
    z-index: 1000;
}
.main-top .search-home .bg-box {
    background-color: #000;
    opacity: 0.2;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1001;
}
.main-top .search-home .container {
    position: relative;
    z-index: 1002;
}
.main-top .search-home .container nav {
}
.main-top .search-home .nav-item {
    min-width: 150px;
}
.main-top .search-home .navbar-nav {
    width: 100%;
}
.main-top .search-home .navbar-nav li {
    position: relative;
}
.main-top .search-home .navbar-nav li input {
    background: none;
    border: none;
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-left: none;
    padding-left: 35px;
}
.main-top .search-home .navbar-nav li select {
    background: none;
    border: none;
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-left: none;
    padding-left: 22px;
    cursor: pointer;
}
.main-top .search-home .navbar-nav li.width-auto {
    width: 100%;
    min-width: 0;
    border-left: 1px solid #e1e1e1;
}
.main-top .search-home .navbar-nav li.width-auto i {
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 1001;
    font-size: 20px;
    color: #b8b8b8;
}
.main-top .search-home .navbar-nav li i {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1001;
    font-size: 20px;
    color: #b8b8b8;
}
.icon-job {
    background: url(../img/icon-job.png) no-repeat center center;
    width: 13px;
    height: 13px;
}
.icon-user-setting {
    background: url(../img/icon-user-setting.png) no-repeat top left;
    width: 20px;
    height: 15px;
}
.main-top .search-home .navbar-nav li i.icon-job {
    top: 11px;
}
.search-home .register-news {
    position: relative;
    z-index: 1000;
    padding: 10px 20px 10px 45px;
    background-color: #0ba25e;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
.search-home i.fa-search {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1001;
    font-size: 20px;
}
.search-home .navbar-collapse {
    margin-right: 15px;
}
.search-home .search-input {
    border-radius: 0;
    border-right: none;
}
.search-home .note-search p {
    margin-top: 15px;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-home .navbar-light .navbar-toggler {
    background-color: #fff;
}
.search-home .navbar-light .navbar-brand {
    margin-right: 0;
    margin-left: 12px;
}
.company .main-content {
    background-color: #fff;
    padding: 25px 0 0 0;
    border-bottom: 1px solid #e1e1e1;
}
#nav-tab a {
    font-size: 22px;
    padding: 0 12px;
    color: #919191;
    font-weight: 400;
    border-top: none;
    border-left: none;
    border-right: none;
}
#nav-tab a:hover {
    color: #0ba25e;
    border-color: #dee2e6;
}
#nav-tab a.active {
    color: #0ba25e;
    font-weight: 700;
    border-color: #dee2e6;
    border-bottom: 3px solid #0ba25e;
}
.main-content nav {
    position: relative;
}
.filter-order {
    position: absolute;
    top: 0;
    right: 5px;
}
.filter-order select {
    cursor: pointer;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: #2d2d2d;
    opacity: 0.5;
}
.list-product {
    list-style: none;
    padding: 20px 0 0 0;
}
.list-product li {
    padding: 15px 0;
    border-top: 1px solid #f0f0f0;
    position: relative;
    min-height: 130px;
    padding-left: 190px;
    padding-right: 30px;
}
.list-product li:first-child {
    border-top: none;
}
.list-product li .image-product {
    width: 170px;
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
}
.list-product li .image-product img {
    width: 170px;
}
.list-product li .like-product {
    position: absolute;
    top: 15px;
    right: 0;
    display: block;
    color: #0ba25e;
    font-size: 20px;
    cursor: pointer;
}
.list-product li .detail-product {
    float: left;
}
.list-product li .detail-product h3 {
    margin-bottom: 5px;
}
.list-product li .detail-product h3 a {
    color: #303030;
    font-size: 18px;
    font-weight: 500;
    display: block;
}
.list-product li .detail-product h3 a:hover {
    color: #0ba25e;
    text-decoration: none;
}
.list-product li .detail-product .price-product {
    display: block;
    margin-bottom: 5px;
}
.list-product li .detail-product .price-product .price {
    color: #0ba25e;
    font-size: 20px;
    font-weight: 700;
    margin-right: 12px;
}
.list-product li .detail-product .price-product .fa-calendar,
.list-product li .detail-product .price-product .fa-eye {
    color: #b5b5b5;
    font-size: 14px;
    font-weight: 400;
    margin-right: 12px;
}
.list-product .price-product .fa-calendar span,
.list-product .price-product .fa-eye span {
    color: #5e5e5e;
}
.list-product li .detail-product .des-product {
    display: block;
}
.list-product li .detail-product .des-product .fa {
    color: #b5b5b5;
    font-size: 14px;
    font-weight: 400;
    margin-right: 12px;
}
.list-product .des-product .fa span {
    color: #5e5e5e;
}
.list-product .des-product .icon-job {
    float: left;
    margin-right: 5px;
}
.main-content .banner-right img {
    width: 100%;
}
.company .pagination-box {
    float: right;
}
.company .pagination-box .page-link {
    padding: 8px 14px;
    color: #2d2d2d;
    font-weight: 400;
}
.company .pagination-box .page-link:hover{
    color: #0ba25e;
}
.company .pagination-box .page-item.active .page-link {
    font-weight: 700;
    color: #0ba25e;
    background: none;
    border-color: #0ba25e;
}
.company .partner-box {
    background-color: #f5f8fa;
    padding: 40px 0;
    border-bottom: 1px solid #e1e1e1;
}
.company .partner-box h2 {
    color: #2d2d2d;
    font-size: 24px;
    font-weight: 700;
}
.company .partner-box .list-partner {
    list-style: none;
    padding: 0;
    width: 100%;
    display: block;
}
.company .partner-box .list-partner li {
    display: inline-block;
    padding: 0 15px;
}
.company .partner-box .list-partner img {
    height: 90px;
}
.main-bottom {
    background-color: #fff;
    padding: 40px 0;
    border-bottom: 1px solid #e1e1e1;
}
.main-bottom ul {
    padding: 0 0 0 20px;
}
.main-bottom h3 {
    margin-bottom: 15px;
    color: #303030;
    font-size: 24px;
    font-weight: 700;
}
.main-bottom ul li {
    margin-bottom: 20px;
    color: #303030;
    font-size: 16px;
    font-weight: 400;
}
.image-banner img {
    width: 100%;
}
.main-bottom .register-now {
    height: 100px;
    background: url(../img/bg_main_bottom.png) no-repeat 40px center;
    padding-left: 280px;
}
.main-bottom .register-now a {
    padding: 12px 20px;
    background-color: #0ba25e;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    border-radius: 21px;
    text-decoration: none;
    float: left;
    margin-top: 17px;
}
.main-bottom .register-now a:hover {
    background-color: #029756;
}
.footer-top {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #e1e1e1;
}
.footer-top h2 {
    margin-bottom: 30px;
    color: #303030;
    font-size: 24px;
    font-weight: 700;
}
.footer-top ul {
    list-style: none;
    padding: 0;
}
.footer-top ul li {
    display: block;
    margin-bottom: 12px;
}
.footer-top ul li a {
    color: #0ba25e;
    font-size: 16px;
    font-weight: 400;
}
.footer-bottom {
    background-color: #f5f8fa;
    padding: 25px 0 40px 0;
    border-bottom: 1px solid #e1e1e1;
}
.footer-bottom h3 {
    color: #303030;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}
.footer-bottom ul {
    list-style: none;
    padding: 0;
}
.footer-bottom ul li {
    margin-bottom: 10px;
    display: block;
}
.footer-bottom ul li i {
    color: #a0a0a0;
    margin-right: 5px;
}
.footer-bottom ul li a {
    color: #303030;
    font-size: 16px;
    font-weight: 400;
}
.footer-bottom .info-company {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
}
.footer-bottom .info-company p {
    font-weight: 700;
    margin-bottom: 5px;
}
.footer-bottom .info-company .position-address p {
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
}
.footer-bottom .info-company .position-address i {
    color: #a0a0a0;
    margin-right: 5px;
}
.breadcrumb-box {
    background-color: #f7f7f7;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.breadcrumb-box .breadcrumb {
    background: none;
    width: 100%;
    margin: 0;
    padding: 8px 15px;
}
.breadcrumb-box .breadcrumb li{
    color: #303030;
    font-size: 12px;
}
.breadcrumb-box .breadcrumb li a{
    color: #303030;
    opacity: 0.7;
}
.breadcrumb-box .breadcrumb li a:hover {
    color: #0ba25e;
    opacity: 1;
}
.company .profile-product {
    background-color: #fff;
    padding: 25px 0 10px 0;
    border-bottom: 1px solid #e1e1e1;
}
.check-product {
    position: absolute;
    top: 40px;
    right: 0;
    display: block;
    color: #303030;
    font-size: 14px;
}
.check-product .fa-check-circle {
    color: #0ba25e;
    font-size: 20px;
    float: left;
    margin-right: 3px;
}
#nav-acount-tab {
    padding: 10px 0 0;
}
.header .navbar {
    width: 100%;
}
.banner-search-box {
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.banner-search-box img {
    width: 100%;
}
.main-search {
    background-color: #fa5147;
    padding: 40px 0;
}
.main-search h1 {
    color: #fff;
    font-weight: 700px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main-search .filter-box {
    padding: 0 100px;
}
.main-search .filter-box .filter-item {
    padding: 0 7px;
}
.main-search .filter-box .search-text {
    padding-left: 19px;
    position: relative;
    background-color: #fff;
    margin-bottom: 15px;
}
.main-search .filter-box .search-select {
    padding-left: 15px;
    position: relative;
    background-color: #fff;
    margin-bottom: 15px;
}
.main-search .filter-box .search-select i,
.main-search .filter-box .search-text i {
    position: absolute;
    display: block;
    cursor: pointer;
    font-size: 18px;
    color: #b8b8b8;
    top: 11px;
    left: 12px;
}
.main-search .filter-box .search-text i {
    top: 10px;
    left: 7px;
}
.main-search .filter-box .search-text input {
    background: none;
    border: none;
}
.main-search .filter-box .search-select select {
    background: none;
    border: none;
}
.main-search .submit-filter {
    text-align: center;
}
.main-search .submit-filter button {
    padding: 15px 70px;
    border: 2px solid #fff;
    background: none;
    border-radius: 28px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.main-search .submit-filter button i {
    margin-right: 5px;
}
@media (max-width: 991.98px) {
    .main-content #nav-tab a {
        font-size: 18px;
    }
    .main-content .filter-order {
        top: -6px;
    }
    .company .header.container-fluid {
        padding: 0;
    }
    .main-top .search-home .navbar-nav {
        margin-top: 5px;
    }
    .main-top .search-home .navbar-nav li {
        margin-bottom: 5px;
    }
    .company .main-top .title-home {
        padding-top: 80px;
    }
    .company .main-top .register-news {
        margin-bottom: 80px;
    }
    .company .main-top .search-home .register-news {
        margin-bottom: 0;
    }
    .search-home .container {
        position: relative;
    }
    .search-home .container {
        position: relative;
    }
    .search-home .container .note-search {
        position: absolute;
        top: 18px;
        left: 0;
        padding-left: 100px;
    }
    .search-home .container .note-search p {
        margin: 0;
    }
    .footer-top ul {
        border-bottom: 1px solid #e1e1e1;
    }
    .footer-top ul:last-child {
        border-bottom: 1px solid #e1e1e1;
    }
    .footer-bottom ul {
        border-bottom: 1px solid #e1e1e1;
    }
    .company .header .navbar .mail-item i {
        border-right: none;
    }
    .list-product li .detail-product .des-product .fa {
        margin-bottom: 5px;
    }
    .profile-product .check-product {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 5px;
        width: 100%;
        float: left;
    }
    .company .main-search .filter-box {
        padding: 0 50px;
    }
}

@media (max-width: 767.98px) {
    .company .main-search .filter-box {
        padding: 0 30px;
    }
}
@media (max-width: 575.98px) {
    .company .main-search .filter-box {
        padding: 0 10px;
    }
}