a {
    outline: 0;
}

span.require {
    font-weight: bold;
    color: red;
}

span.require:before {
    content: '(*)';
}

.no-wrap {
    white-space: nowrap;
}

.select2-search__field {
    width: 100% !important;
}

.select2-hidden-accessible {
    display: none !important;
}

.select2 {
    border-radius: 2px;
}

.has-error .select2 {
    border: 1px solid #ed5565;
}

.overflow-auto {
    overflow: auto;
}

.select2-selection--single {
    height: 35.6px !important;
    width: 100% !important;
    border: 1px solid #e5e6e7 !important;
    border-radius: 2px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px !important;
}

.select2, .select2-container, .select2-container--default {
    width: 100% !important;
    float: left;
}

.select2-selection--multiple {
    min-height: 35.6px !important;
    border: 1px solid #e5e6e7 !important;
    border-radius: 2px !important;
}

.row-selected {
    background-color: #ccc;
}

.control-datepicker {
    height: 32.8px;
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}

.chosen-container {
    width: 100% !important;
}

.lang-option-top {
    border-radius: 2px 2px 0px 0px !important;
}

.lang-option-down {
    border-radius: 0px 0px 2px 2px !important;
}

.lang-divider, .lang-option-top, .lang-option-down {
    margin: 0px !important;
}

.label-status {
    width: 120px;
}

.dd-item-list {
    border-left: 2px solid #aaa;
    padding: 10px;
}

#list-notification .none-style {
    padding: 0;
    margin: 0;
    display: block;
    line-height: 20px;
}

.navbar-top-links li:hover {
    background-color: #ddd;
}

.ibox.item-child {
    background-color: #fff;
}

.ibox-title-top {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ibox-title-bottom {
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.border-danger {
    border: 2px solid red !important;
}
.swal2-container {
    z-index: 1000000 !important;
}

input[name="from"], input[name="to"] {
    background-color: transparent !important;
    border-radius: 2px !important;
}

select.form-control {
    height: 35.6px !important;
}

.temp_doc_type span{
    width: 89,8% !important;
}

.logo-thumbnail {
    max-width: 60px;
    max-height: 60px;
}

/* Iframe CSS */
#overlay {
    width: 98.9%;
    height: 98.9%;
    z-index: 1;
}
iframe {
    width: 100%;
    height: 100%;
}
#overlay, iframe {
    position: absolute;
    top: 0;
    left: 0;
}
.hide-checkbox-tree {
    position: absolute;
    top: 0;
    right: 0;
    width: 47px;
    height: 47px;
    background-color: #fff;
}
.list-group-item:hover .hide-checkbox-tree {
    background-color: #f3f3f4 !important;
}
.list-group-item.node-selected .hide-checkbox-tree {
    background-color: #fff;
}
.list-group-item.node-selected {
    background-color: #fff !important;
    color: #676a6c !important;
}
.list-group-item.node-selected:hover {
    background-color: #f3f3f4 !important;
}
.list-group-item .indent {
    float: left;
    height: 30px;
    width: 20px;
}
.treeview .list-group-item .expand-icon {
    float: left;
    height: 30px;
    width: 20px;
    margin-right: 10px;
}
.treeview .list-group-item .single-text {
    font-size: 16px;
}
.treeview .list-group-item .content-doc {
    float: left;
    font-size: 14px;
}
.treeview span.check-icon {
    margin-top: 10px;
}
.heading {
    font-weight: bold;
    color: #00A6D6;
}
.wrapper-content, .page-wrapper {
    z-index: 10;
}
.loading-spinner,
.loading-spinner-content,
.loading-spinner-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    opacity: 0.2;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}
.content-home {
    position: relative;
}
.loading-spinner-content {
    opacity: 0.5;
}
.img-loading-content,
.img-loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/loading.gif) no-repeat center center;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
.loading-spinner .sk-spinner-three-bounce.sk-spinner {
    margin-top: 48%;
}
.modal-backdrop {
    z-index: 0 !important;
}
.navbar-static-side {
    z-index: 0;
}
#list-notification, .lang-choice {
    z-index: 1001;
}
.update-bg {
    background-color: #ffff4d !important;
    color: #333;
}
#download_template {
    color: #fff;
}
.nav-second-level {
    z-index: 100;
}
label.white-bg, label.update-bg {
    border: 1px ridge #ccc;
}
.bg-create-doc {
    background-color: #F7BDA4;
    color: #fff;
}
.bg-create-doc a {
    color: #fff;
}
#page-wrapper tr td,
#page-wrapper tr th {
    vertical-align: middle;
}
#page-wrapper tr .label-status {
    margin-bottom: 0;
}
.home-page table tr td,
.home-page table tr th {
    white-space: nowrap;
}
tr.table-danger td {
    background-color: red !important;
    color: #fff;
}
canvas#frequency-chart {
    height: 400px !important;
}
