.login-bg, .gray-bg{
    background: url('../img/common/login-background.png');
}
body.gray-bg .logo-sumi{
    margin-top:50px;
}
body.gray-bg .logo-sumi img{
    margin-bottom: 50px;
}
body.gray-bg .logo-sumi h2{
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px 0;
    line-height: 30px;
    font-weight: bolder;
}
body .ibox .ibox-title h3.login-title{
    text-align: left;
    margin-bottom: 5px;
}
.logo-element img.logo-thumbnail{
  background: transparent;
  border:none;
  border-radius: 0;
}
.ibox{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.ibox-title{
    background-color: #f5f5f5;
}
.input-daterange .from-to-span{
    padding: 7px 5px;
}
.hr-line{
    border-bottom: 1px solid #e7eaec;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15px;
    margin-bottom: 15px; 
}
.ibox-title{
    border:none;
}
.nav-tabs .nav-link {
    border-radius: 0;
}
.help-block, .has-error{
    color: #ed5565;
    font-weight: bold; 
}
.swal-footer{
    text-align: center;
}
.box-search {
    width: 100%;
    position: relative
}
#box-search-parent,
#box-search-pid {
    position: absolute;
    width: 100%; 
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    list-style: none; 
    padding: 0;
    z-index: 100;
    max-height: 300px;
    overflow-y: scroll;
}
#box-search-parent li,
#box-search-pid li {
    padding: 10px 5px;
    width: 100%;
    float: left;
}
#box-search-parent li:hover,
#box-search-pid li:hover {
    cursor: pointer;
    background-color: #1cc09f !important;
    color: #fff;
}
#box-parent-doc,
#box-pid {
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
}
.item-search-parent,
.item-search-pid {
    padding: 2px 20px 2px 10px;
    background-color: #ddd; 
    float: left; 
    margin: 5px;
    position: relative;
}
.item-search-parent .delete-parent,
.item-search-pid .delete-pid {
    padding: 0px 4px;
    cursor: pointer;
    color: red;
    position: absolute;
    top: 1px;
    right: 0;
    display: block;
}
.list-show-image {
    padding: 20px 0 0 0;
    list-style: none;
}
.list-show-image li {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}
.list-show-image li .delete-image {
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: red;
    top: 0px;
    right: 10px;
    z-index: 10;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
    display: none;
}
.list-show-image li:hover .delete-image {
    display: none;
}
.list-show-image li img {
    width: 100%;
    max-width: 150px;
}
#viewDetail .modal-dialog {
    width: 95%;
    max-width:1000px;
    text-align: center;
    margin-top: 50px;
}
#viewDetail .jcrop-holder {
    display: inline-block;
}
#viewDetail .close {
    position: absolute;
    top: 10px;
    right: 15px;
}
#viewDetail .modal-body {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}
.new-image-crop {
    border: 1px solid #ddd;
    max-width: 100%;
}
