.landing-page {
    width: 100%;
    text-align: center;
    background-color: #b3b5bd;
    padding: 250px 0 0;
}
.landing-page-logo {
    margin-bottom: 160px;
}
.landing-page .link-website a {
    text-align: center;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 250px;
    width: 100%;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    text-decoration: none;
    margin: 15px 0;
    font-size: 14px;
    color: #b3b5bd;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #fff;
    font-family: iCielAlliance;
}
.landing-page .link-website a:hover {
    background-color: #0ba25e;
    color: #fff;
}
.login-page {
    width: 100%;
    text-align: center;
    background: url(../img/bg-login.png) no-repeat top left #9d9fa6;
    padding: 250px 0 100px;
}
.login-page h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-family: iCielAlliance;
}
.login-page .login-box {
    width: 100%;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #fff;
    padding: 20px 30px 50px;
    border-top: 50px solid #757882;
    border-bottom: 20px solid #757882;
}
.login-page .login-box .header-login {
    text-align: right;
    font-size: 12px;
    font-family: iCielAlliance;
    font-weight: 500;
    color: #b3b5bd;
    margin-bottom: 100px;
}
.login-page .login-box .header-login a {
    text-align: center;
    display: inline-block;
    padding: 7px 15px;
    color: #fff;
    background-color: #9d9fa6;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin-left: 10px;
    text-decoration: none;
}
.login-page .login-box .header-login a:hover {
    background-color: #0ba25e;
}
.content-login {
    padding: 0 20px;
}
.content-login form {
    width: 100%;
    padding: 0;
    margin: 0;
}
.content-login .user-login,
.content-login .pass-login {
    width: 100%;
    position: relative;
    padding: 0 0 0 40px;
    border-bottom: 1px solid #b3b5bd;
    margin-bottom: 20px;
}
.content-login .user-login input,
.content-login .pass-login input {
    width: 100%;
    background: none;
    border: none;
    padding: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    font-family: iCielAlliance;
    text-align: left;
}
.content-login .user-login .icon-user-login {
    width: 35px;
    height: 28px;
    background: url(../img/icon-login-user.png) no-repeat center center;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
}
.content-login .pass-login .icon-pass-login {
    width: 16px;
    height: 25px;
    background: url(../img/icon-login-pass.png) no-repeat center center;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}
.content-login .button-login {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: 500;
    font-family: iCielAlliance;
    width: 100%;
}
.content-login .button-login button {
    background-color: #9d9fa6;
    color: #fff;
    padding: 7px 38px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin-bottom: 10px;
    border: none;
    display: inline-block;
}
.content-login .button-login a {
    color: #999;
    margin-bottom: 10px;
    display: inline-block;
}
.content-login .button-login button:hover {
    background-color: #0ba25e;
}
.content-login .button-login a:hover {
    color: #0ba25e;
}
.content-login .social-login {
    text-align: center;
    margin-bottom: 20px;
}

.content-login .social-login .facebook-login,
.content-login .social-login .youtube-login,
.content-login .social-login .google-login {
    margin: 0 10px;
    width: 46px;
    height: 46px;
    display: inline-block;
    text-decoration: none;
    border-radius: 46px;
}
.content-login .social-login .facebook-login {
    background: url(../img/icon-login-face.png) no-repeat center center #fff;
}
.content-login .social-login .youtube-login {
    background: url(../img/icon-login-video.png) no-repeat center center #fff;
}
.content-login .social-login .google-login {
    background: url(../img/icon-login-google.png) no-repeat center center #fff;
}
@media (max-width: 767.98px) {
    .landing-page {
        padding: 80px 20px 0 20px;
    }
    .landing-page-logo {
        margin-bottom: 80px;
    }
    .landing-page .link-website {
        text-align: center !important;
    }
    .landing-page .link-website a {
        max-width: 400px;
    }
    .login-page {
        padding: 0 0 100px;
    }
    .login-page h1 {
        margin-bottom: 20px;
    }
}