body{
    font-size: 13px;
    background-color: #fff;
    font-family: iCielAlliance;
    position: relative; 
    z-index: 100;
    font-weight: 400;
}
::placeholder {
  color: #bfbfbf;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #bfbfbf;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #bfbfbf;
}
.company .header {
    margin-bottom: 0;
    border-bottom: 1px solid #b3b5bd;
}
.company .header .logo-top {
    margin-right: 20px;
}
.company .header .navbar li {
    padding: 20px 30px;
}
.company .header .navbar li:last-child {
    padding-right: 0;
}
.company .header .navbar li a {
    font-family: iCielAlliance;
    font-size: 12px;
    font-weight: 500;
    color: #7b7e87;
    text-transform: uppercase;
}
.company .header .navbar li:hover a,
.company .header .navbar li.active a{
    color: #0ba25e;
}
.company .header .navbar li .dropdown-menu{
    padding: 0;
    border: none;
}
.company .header .navbar li a.dropdown-item{
    font-size: 12px;
    font-weight: 500;
    color: #7b7e87;
    padding: 15px 40px;
    border-left: 1px solid #b3b5bd;
    border-right: 1px solid #b3b5bd;
    border-bottom: 1px solid #b3b5bd;
    text-align: center;
}
.company .header .navbar li a.dropdown-item:first-child{
    border-top: 1px solid #b3b5bd;
}
.header .navbar {
    width: 100%;
}
.banner-home {
    margin-bottom: 50px;
}
.banner-home a {
    display: block;
}
.banner-home a img {
    width: 100%;
}
.main-content {
    margin-bottom: 20px;
}
.main-content h2 {
    color: #7b7e87;
    font-size: 14px;
    font-weight: 500;
    font-family: iCielAlliance;
    text-transform: uppercase;
}
.main-content .about-home {
    margin-bottom: 50px;
    padding: 20px 0;
}
.main-content .about-home p {
    color: #7b7e87;
    font-size: 14px;
    font-weight: 500;
    font-family: iCielAlliance;
}
.main-content .services-home ul,
.services-other ul,
.list-news ul,
.list-service ul {
    list-style: none;
    padding: 0;
}
.main-content .services-home ul li,
.services-other ul li,
.list-news ul li,
.list-service ul li {
    margin-bottom: 20px;
}
.main-content .services-home a img,
.services-other a img,
.list-news a img,
.list-service a img {
    width: 100%;
    margin-bottom: 20px;
}
.main-content .services-home h3,
.services-other h3,
.list-news h3,
.list-service h3 {
    font-size: 14px;
    font-weight: 700;
    font-family: iCielAlliance;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.main-content .services-home h3 a,
.services-other h3 a,
.list-news h3 a,
.list-service h3 a {
    color: #7b7e87;
}
.main-content .services-home h3 a:hover,
.list-news h3 a:hover,
.services-other h3 a:hover,
.list-service h3 a:hover {
    color: #0ba25e;
}
.main-content .services-home .des,
.services-other .des,
.list-news .des,
.list-service .des {
    color: #7b7e87;
    font-size: 12px;
    font-weight: 500;
    font-family: iCielAlliance;
    padding-bottom: 15px;
}
.main-content .customer-feedback {
    width: 100%;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 500;
    color: #7b7e87;
}
.main-content .customer-feedback ul {
    list-style: none;
    padding: 0;
}
.main-content .customer-feedback ul li {
    margin-bottom: 20px;
}
.main-content .customer-feedback ul li img {
    width: 100%;
}
.detail-customer-feedback .item-feedback {
    padding-left: 70px;
    position: relative;
}
.detail-customer-feedback .image-user {
    width: 45px;
    height: 45px;
    border-radius: 23px;
    position: absolute;
    top: 0;
    left: 0;
}
.detail-customer-feedback .image-user img {
    width: 100%;
}
.detail-customer-feedback .info-user {
    width: 100%;
    color: #7b7e87;
    font-size: 12px;
    font-weight: 700;
    font-family: iCielAlliance;
    text-transform: uppercase;
}
.detail-customer-feedback .info-user p {
    display: block;
    margin-bottom: 5px;
}
.detail-customer-feedback .info-user a {
    color: #7b7e87;
    text-decoration: none;
}
.detail-customer-feedback .info-user a:hover {
    color: #0ba25e;
}
.detail-customer-feedback .info-user span {
    display: block;
}
.company .footer {
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    position: relative;
    padding-left: 140px;
}
.company .footer .logo-bottom {
    position: absolute;
    top: 30px;
    left: 0;
    height: 60px;
    width: 120px;
}
.company .footer .logo-bottom img{
    height: 100%;
}
.company .footer .footer-menu{
    height: 100%;
}
.company .footer .footer-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
.company .footer .footer-menu ul li{
    display: inline-block;
    padding: 10px 30px;
}
.company .footer .footer-menu ul li a{
    font-family: iCielAlliance;
    font-size: 12px;
    font-weight: 500;
    color: #7b7e87;
    text-transform: uppercase;
}
.company .footer .footer-menu ul li a:hover{
    color: #0ba25e;
}
.services-content{
    padding-top: 100px;
    margin-bottom: 50px;
}
.news-content {
    padding-top: 100px;
    margin-bottom: 30px;
}
.services-content .service-title,
.news-content .news-title {
    margin-bottom: 30px;
    width: 100%;
}
.services-content .service-title h1,
.news-content .news-title h1 {
    float: left;
    font-size: 32px;
    color: #7b7e87;
    font-weight: 400;
    font-family: iCielAlliance;
    text-transform: uppercase;
}
.services-content .service-title .filter-box {
    float: right;
    display: flex;
    font-size: 14px;
    color: #7b7e87;
    font-weight: 500;
    font-family: iCielAlliance;
}
.news-content .filter-box .filter-item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.news-content h1 {
    margin-bottom: 60px;
}
.news-content .filter-box .filter-item {
    width: 100%;
    float: left;
    margin-bottom: 25px;
}
.news-content .filter-box .filter-item input {
    padding: 7px 12px;
    border-radius: 20px;
    height: 40px;
    padding-left: 20px;
}
.services-content .service-title .filter-box label,
.news-content .news-title .filter-box label {
    white-space: nowrap;
    margin: 0 10px 0 0;
    padding-top: 7px;
    text-transform: uppercase;
}
.services-content .service-title .filter-box select,
.news-content .news-title .filter-box select {
    border-radius: 20px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #7b7e87;
    font-family: iCielAlliance;
    cursor: pointer;
    text-transform: uppercase;
    padding-left: 20px;
}
.services-other {
    margin-bottom: 50px;
}
.services-other h2 {
    color: #7b7e87;
    font-size: 14px;
    font-weight: 500;
    font-family: iCielAlliance;
    text-transform: uppercase;
}
.service-content {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
}
.service-content h1 {
    color: #7b7e87;
    font-size: 32px;
    font-weight: 400;
    font-family: iCielAlliance;
    text-transform: uppercase;
    line-height: 26px;
}
.service-content h3 {
    color: #7b7e87;
    font-size: 16px;
    font-weight: 500;
    font-family: iCielAlliance;
    text-transform: uppercase;
}
.service-content .content-detail {
    color: #7b7e87;
    font-size: 14px;
    font-weight: 400;
    font-family: iCielAlliance;
}
.service-content .price-detail {
    margin-top: 50px;
    font-family: iCielAlliance;
}
.service-content .price-detail .price {
    color: #7b7e87;
    font-size: 36px;
    font-weight: 400;
    float: left;
}
.service-content .price-detail .unit {
    color: #7b7e87;
    font-size: 20px;
    font-weight: 400;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}
.service-content .price-detail .purchase {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    float: right;
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px 60px;
    text-decoration: none;
    background-color: #b3b5bd;
}
.news-content .pagination-box {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    width: 100%;
}
.news-content h1 {
    color: #7b7e87;
    font-size: 28px;
    font-weight: 700;
    font-family: iCielAlliance;
    margin-bottom: 20px;
}
.news-content .main-news {
    color: #7b7e87;
    font-size: 14px;
    font-weight: 400;
    font-family: iCielAlliance;
    margin-bottom: 50px;
}
.news-content .main-news p {
    margin-bottom: 8px;
}
.image-large-news {
    width: 100%;
}
.image-large-news img {
    width: 100%;
}
.other-news {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-bottom: 30px;
}
.other-news h2 {
    color: #7b7e87;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: iCielAlliance;
    margin-bottom: 20px;
}
.other-news ul {
    list-style: none;
    padding: 0;
}
.other-news li {
    margin-bottom: 20px;
}
.other-news li a img {
    width: 100%;
    margin-bottom: 20px;
}
.other-news li h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: iCielAlliance;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.other-news li h3 a {
    color: #7b7e87;
}
.other-news ul li .read-more {
    color: #7b7e87;
    font-size: 14px;
    float: right;
    font-weight: 700;
    text-decoration: underline;
}
.other-news li h3 a:hover,
.other-news ul li .read-more:hover {
    color: #0ba25e;
}
.other-news .des {
    color: #7b7e87;
    font-size: 14px;
    font-weight: 500;
    font-family: iCielAlliance;
    margin-bottom: 5px;
}
.company .header .navbar li .item-language {
    text-decoration: none;
    padding: 0 5px;
}
.company .header .navbar li .item-language.active-lang {
    border: 1px solid #ddd;
    display: inline-block;
}
.about-content,
.career-content {
    margin-top: 100px;
}
.career-content h1 {
    margin-top: 0;
    color: #7b7e87;
    font-size: 32px;
    font-weight: 400;
    font-family: iCielAlliance;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.career-content .filter-box {
    padding-right: 100px;
}
.career-content .filter-box label {
    color: #7b7e87;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: iCielAlliance;
    margin-bottom: 25px;
}
.career-content .filter-box .filter-item {
    width: 100%;
    margin-bottom: 30px;
}
.career-content .filter-box .filter-item button {
    border-radius: 20px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #7b7e87;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: iCielAlliance;
    text-align: left;
    padding: 9px 20px;
}
.career-content .filter-box .dropdown-toggle::after {
    color: #333;
    float: right;
    margin-top: 8px;
}
.career-content .filter-box .dropdown-toggle:focus {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
}
.career-content .filter-box .dropdown-menu {
    width: 100%;
    padding: 0;
}
.career-content .filter-box .dropdown-menu a {
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    color: #7b7e87;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: iCielAlliance;
}
.career-content .filter-box .dropdown-menu a:first-child {
    border-top: none;
}
.career-content .filter-box .dropdown-menu a:hover {
    background-color: #ddd;
}
.career-content .list-career {
    border-left: 1px solid #b3b5bd;
}
.career-content .list-career ul {
    padding: 0 0 0 10px;
    list-style: none;
}
.career-content .list-career ul li {
    font-family: iCielAlliance;
    color: #7b7e87;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #b3b5bd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.career-content .list-career ul.pagination li {
    font-family: iCielAlliance;
    font-size: 13px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.career-content .list-career ul li h3 {
    margin: 0 0 10px 0;
    line-height: 16px;
}
.career-content .list-career ul li h3 a {
    color: #7b7e87;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: iCielAlliance;
    text-decoration: none;
}
.career-content .list-career ul li .posted {
    margin-bottom: 10px;
}
.career-content .list-career ul li .deadline {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}
.career-content .list-career ul li .des {
    margin-bottom: 10px;
}
.career-content .list-career ul li .link {
    margin-bottom: 10px;
    float: right;
    font-weight: 500;
    color: #7b7e87;
}
.career-content .list-career ul li .image-news {
    padding-top: 5px;
    display: block;
}
.career-content .list-career ul li img {
    width: 100%;
}
.about-content {
    margin-bottom: 25px;
}
.about-content h2 {
    margin-top: 0;
    color: #7b7e87;
    font-size: 32px;
    font-weight: 400;
    font-family: iCielAlliance;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.about-content .image-large {
    width: 100%;
    margin-bottom: 40px;
}
.about-content .image-large img {
    width: 100%;
}
.about-content .des {
    font-family: iCielAlliance;
    color: #7b7e87;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
}
.about-content .title-career h3 {
    font-family: iCielAlliance;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.about-content .title-career h3 a {
    color: #7b7e87;
}
.about-content .title-career p {
    font-family: iCielAlliance;
    color: #7b7e87;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
}
.about-content .des-career {
    font-family: iCielAlliance;
    color: #7b7e87;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 30px;
}
.about-content .left-contact .form-group,
.about-content .right-contact .form-group {
    margin-bottom: 15px;
}
.about-content .right-contact textarea {
    height: 144px;
}
.usercp-page {
    width: 100%;
}
.usercp-page .box-info {
    border-right: 1px solid #b3b5bd;
}
.usercp-page .box-chat {
    border-left: 1px solid #b3b5bd;
    min-height: 100vh;
}
.usercp-page .box-info .avatar-user {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 35px;
}
.usercp-page .box-info .avatar-user img {
    width: 110px;
    height: 110px;
    display: inline-block;
}
.usercp-page .box-info .name-user {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.usercp-page .box-info .name-user p {
    font-family: iCielAlliance;
    color: #7b7e87;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.usercp-page .box-info .action {
    margin-bottom: 30px;
}
.usercp-page .box-info .action a {
    text-align: left;
    display: block;
    color: #7b7e87;
    font-weight: 400;
    font-size: 20px;
    font-family: iCielAlliance;
    padding-left: 32px;
    position: relative;
    margin-bottom: 5px;
}
.usercp-page .box-info .action a i {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    background-color: #d5d6d9;
}
.usercp-page .box-detail .your-report {
    margin-bottom: 30px;
    padding: 50px 15px 15px;
}
.usercp-page .box-detail h2{
    color: #7b7e87;
    font-weight: 700;
    font-size: 20px;
    font-family: iCielAlliance;
    text-transform: uppercase;
    margin-bottom: 0;
}
.usercp-page .box-detail table {
    margin-bottom: 10px;
    width: 100%;
}
.usercp-page .box-detail table td {
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid #b3b5bd;
    color: #7b7e87;
    font-weight: 400;
    font-size: 16px;
    font-family: iCielAlliance;
    text-transform: uppercase;
}
.usercp-page .box-detail table td.title {
    padding-left: 0;
    padding-right: 15px;
    width: 65%;
}
.usercp-page .box-detail table.order-history {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 30px;
}
.usercp-page .link-history {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7b7e87;
    text-decoration: none;
    padding: 7px 20px;
    margin-bottom: 50px;
    border: 1px solid #b3b5bd;
    border-radius: 22px;
    float: left;
    background-color: #f7f7f8;
}
.usercp-page .order-history tr th {
    padding: 15px;
    border: 1px solid #b3b5bd;
    color: #7b7e87;
    font-weight: 700;
    font-size: 12px;
    font-family: iCielAlliance-SemiBold;
    text-transform: uppercase;
    text-align: center;
}
.usercp-page .order-history tr td {
    border: 1px solid #b3b5bd;
    font-family: iCielAlliance-SemiBold;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
}
.usercp-page .box-detail p {
    color: #7b7e87;
    font-weight: 400;
    font-size: 16px;
    font-family: iCielAlliance;
    margin-bottom: 25px;
}
.usercp-page .box-detail .order h2 {
    margin-bottom: 25px;
}
.usercp-page .box-detail a.link {
    color: #7b7e87;
    font-weight: 500;
    font-size: 14px;
    font-family: iCielAlliance;
    margin-bottom: 25px;
    float: right;
    text-decoration: underline;
}
.report-page {
    padding-top: 70px;
    margin-top: 0;
    width: 100%;
}
.sidebar-left {
    position: relative;
    overflow: hidden;
    background: none;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topright: 12px;
    border-top-right-radius: 12px;
    width: 450px;
    height: 840px;
}
.sidebar-left .bg_sidebar {
    position: absolute;
    top: 0;
    right: 12px;
    width: 1000px;
    height: 1000px;
    background: url(../img/bg-report.png) no-repeat top right #f6f6f6;
}
.sidebar-left .sidebar-content {
    background: url(../img/bg-report-content.png) no-repeat top right;
    height: 886px;
    width: 485px;
    position: absolute;
    top: 37px;
    right: 0;
    padding: 150px 15px 20px 150px;
}
.sidebar-left .image-customer {
    position: absolute;
    top: 37px;
    right: 0;
}
.sidebar-left .image-customer img {
    width: 450px;
    height: 750px;
}
.sidebar-left .sidebar-content .link {
    position: relative;
    padding-left: 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
    display: block;
}
.sidebar-left .sidebar-content .link .icon-li {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    background-color: #fff;
}
.sidebar-left .sidebar-content .submit-link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}
.report-page-right {
    width: 100%;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #f6f6f6;
    padding: 40px;
    border-top: 50px solid #757882;
    border-bottom: 20px solid #757882;
    min-height: 690px;
}
.report-page-right.profile3 {
    padding-bottom: 130px;
}
.report-page-right p {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.report-page-right h1 {
    color: #1d1d1d;
    font-size: 36px;
    font-weight: 400;
    margin: 0 0 30px;
    text-transform: uppercase;
    border-bottom: 1px dashed #636363;
    padding-bottom: 30px;
}
.report-page-right table {
    margin-bottom: 30px;
    width: 100%;
    border: 1px solid #636363;
}
.report-page-right table th,
.report-page-right table td {
    padding: 14px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
.report-page-right table th {
    color: #fff;
    background-color: #4e525d;
    border-left: 1px solid #fff;
    text-transform: uppercase
}
.report-page-right table th:first-child {
    border-left: none;
}
.report-page-right table tbody tr {
    border-bottom: 1px dashed #636363;
}
.report-page-right table tbody tr:last-child {
    border-bottom: none;
}
.report-page-right table td {
    text-align: center;
}
.report-page-right table td input {
    width: 80px;
    border: none;
    background: none;
    line-height: 14px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
}
.report-page-right table td span {
    display: inline-block;
}
.save-report {
    padding: 50px 0;
    width: 100%;
    background-color: #fff;
}
.save-report button {
    border: none;
    color: #bfbfbf;
    background-color: #f7f7f8;
    padding: 14px 30px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    line-height: 16px;
}
.save-report button.active {
    border: 1px solid #b3b5bd;
}
.update-avatar {
    padding: 50px 10px;
    width: 450px;
    background-color: #fff;
}
.update-avatar .save-page {
    padding-left: 25px;
    display: block;
    float: left;
    margin: 0 10px 15px;
    color: #757882;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    position: relative;
    padding-top: 12px;
}
.update-avatar .save-page .icon-li {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: block;
    position: absolute;
    top: 16px;
    left: 0;
    background-color: #757882;
}
.upload-image {
    padding-left: 70px;
    display: block;
    float: right;
    margin: 0 10px 15px;
    color: #757882;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
    position: relative;
    padding-top: 12px;
}
.upload-image i {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #757882;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.pre-next {
    width: 100%;
    margin-bottom: 20px;
    float: left;
}
.pre-next button {
    color: #7b7e87;
    font-size: 16px;
    border: none;
    background: none;
    padding: 0;
}
.report-page-right.your-report {
    padding-bottom: 95px;
}
.report-page-right.your-report table {
    margin-bottom: 20px;
}
#image-detail {
    width: 100%;
    margin-bottom: 20px;
}
.create-profile h1 {
    font-size: 28px;
    font-family: iCielAlliance-SemiBold;
    font-weight: 700;
    color: #bfbfbf;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
.create-profile label {
    font-size: 20px;
    color: #bfbfbf;
    font-weight: 400;
    display: block;
}
.create-profile input {
    border-radius: 22px;
}
.create-profile .form-group {
    margin-bottom: 30px;
}
.create-profile .upload-image {
    color: #bfbfbf;
    font-weight: 400;
    font-size: 18px;
    font-family: iCielAlliance;
    padding-top: 0;
}
#image-detail {
    float: left;
    width: 100%;
    min-height: 130px;
}
.create-profile .filter-item {
    width: 100%;
}
.create-profile .filter-item button {
    border-radius: 20px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #7b7e87;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: iCielAlliance;
    text-align: left;
    padding: 9px 20px;
}
.create-profile .filter-item .dropdown-toggle::after {
    color: #333;
    float: right;
    margin-top: 8px;
}
.create-profile .filter-item .dropdown-toggle:focus {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
}
.create-profile .filter-item .dropdown-menu {
    width: 100%;
    padding: 0;
}
.create-profile .filter-item .dropdown-menu a {
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    color: #7b7e87;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: iCielAlliance;
}
.create-profile .filter-item .dropdown-menu a:first-child {
    border-top: none;
}
.create-profile .dropdown-menu a:hover {
    background-color: #ddd;
}
.gender-check span {
    padding: 12px 20px;
    border-radius: 22px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: iCielAlliance;
    background-color: #e8e9eb;
    color: #bfbfbf;
    cursor: pointer;
    width: 110px;
    text-align: center;
}
.gender-check span:hover,
.gender-check span.active {
    background-color: #999;
    color: #fff;
}
#gender-male {
    float: left;
}
#gender-female {
    float: right;
}
.create-profile .upload-image i {
    background-color: #e8e9eb;
}
.complete-profile {
    padding-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}
.complete-profile img {
    display: inline-block;
    margin-bottom: 20px;
}
.complete-profile p {
    width: 100%;
    text-align: center;
    color: #7b7e87;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.about-map {
    margin-bottom: 40px;
}
.about-map img {
    width: 100%;
}
.about-content-page {
    margin-bottom: 0;
}
.contact-left {
    border-right: 1px solid #b3b5bd;
    padding-bottom: 30px;
}
.contact-left h1 {
    font-size: 28px;
    font-weight: 400;
    color: #7b7e87;
    margin-bottom: 30px;
}
.contact-left p {
    font-size: 16px;
    font-weight: 500;
    color: #7b7e87;
    margin-bottom: 20px;
    position: relative;
    padding-left: 35px;
}
.contact-left p i {
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
}
.contact-left p.address-office {
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
}
.contact-right {
    margin-bottom: 30px;
    padding-left: 30px;
}
.contact-right h3 {
    font-size: 18px;
    color: #7b7e87;
    margin-bottom: 20px;
}
.contact-right table {
    margin-bottom: 10px;
    width: 100%;
}
.contact-right table tr {
    border: none;
}
.contact-right table td {
    font-size: 18px;
    border: none;
    padding: 10px;
    color: #7b7e87;
    vertical-align: top;
}
.contact-right table td input {
    padding: 2px 10px;
    width: 100%;
}
.contact-right table td textarea {
    padding: 2px 10px;
    width: 100%;
}
.contact-right table td.title {
    text-transform: uppercase;
    width: 150px;
    padding-left: 0;
}
.contact-right button {
    text-transform: uppercase;
    padding: 7px 30px;
    border-radius: 22px;
    border: 1px solid #ddd;
    background-color: #f7f7f8;
    font-size: 18px;
    color: #bfbfbf;
    text-align: center;
    margin-bottom: 30px;
}
@media (max-width: 1199.98px) {
/*    .report-page-right.profile3 {
        padding-bottom: 0;
    }*/
    .report-page-right.profile3 table td input {
        width: 75px;
    }
    .report-page-right.your-report table td input {
        width: 75px;
    }
}
@media (max-width: 991.98px) {
    .report-page-right.profile3 {
        padding-bottom: 30px;
    }
    .update-avatar {
        padding: 20px 10px 50px;
        width: 450px;
        background-color: #fff;
    }
    .sidebar-left {
        height: 500px;
        margin-bottom: 30px;
    }
    .company .header .navbar li {
        padding: 5px 0;
    }
    .company .header .navbar li .dropdown-menu {
        display: block;
    }
    .company .header .navbar li a.dropdown-item {
        border: none;
        padding: 10px 0 10px 20px;
        text-align: left;
    }
    .company .header .navbar li a.dropdown-item:hover {
        color: #0ba25e;
    }
    .career-content .filter-box {
        padding-right: 15px;
    }
    .career-content .list-career .image-news {
        margin-bottom: 25px;
    }
}
@media (max-width: 767.98px) {
    .contact-left {
        border: none;
        border-bottom: 1px solid #ddd;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    .contact-right {
        padding-left: 15px;
    }
    .main-content .services-home ul li .des {
        border-bottom: 1px solid #ddd;
    }
    .main-content .services-home ul li:last-child .des {
        border-bottom: none;
    }
    .detail-customer-feedback .image-user {
        margin-right: 0;
    }
    .career-content .list-career ul {
        padding: 0;
    }
}
@media (max-width: 500px) {
    .sidebar-left {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        left: 22px;
        margin-top: 0; // remove the gap so it doesn't close
     }
}